@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
}

.content-page {
    display: flex;
}

.content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
