.app.dark {
    --bg-color: #F7E7DC;
    --inverted-bg-color: #758694;

    --primary-color: #FFF8F3;
    --secondary-color: #405D72;
    --item-color: rgba(64, 93, 114, 0.5);
    --item-color-hover: rgba(64, 93, 114, 1);
    --accent-color: #8498A8;
    --inveted-primary-color: #2d495d;
    --inveted-secondary-color: #82b0d4;
}
