.app.dark {
    --bg-color: #F7E7DC;
    --inverted-bg-color: #758694;

    --primary-color: #FFF8F3;
    --secondary-color: #405D72;
    --accent-color: #3f96d5;
    --inveted-primary-color: #2d495d;
    --inveted-secondary-color: #82b0d4;
}
