:root {
    --bg-color: #fafcfc;
    --inverted-bg-color: #454d5d;

    --primary-color: #2d495d;
    --secondary-color: #82b0d4;
    --accent-color: #2a82c0;
    --inverted-primary-color: #a2bed2;
    --inverted-secondary-color: #2b5a7d;

}
