:root {
    --bg-color: #ffcdb2;
    --inverted-bg-color: #b5838d;

    --primary-color: #6d6875;
    --secondary-color: #ffb4a2;
    --item-color: rgba(229, 152, 155, 0.5);
    --item-color-hover: rgba(229, 152, 155, 0.7);
    --accent-color: #2a82c0;
    --inverted-primary-color: #a2bed2;
    --inverted-secondary-color: #2b5a7d;

}
