.FiltersBar {
  width: 50%;
  padding: 30px 104px;
  background-color: #758694;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.sortHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;


}