.FiltersBar {
  width: 50%;
  padding: 30px 104px;
  background-color: #758694;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.sortHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.popup {
  width: 300px;
  height: auto;
  padding: 16px 12px;
  border-radius: 20px;
  background-color: #405D72;
  border: 2px solid #FFF8F3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.popupContent {
  color: var(--primary-color)
}

.popupTag {
  width: auto;
  background-color: #FFF8F3;
  color: #000;
  padding: 10px;
  border-radius: 50px;
}